.wrapper{
  left: 0;
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0, 0.5);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  .modal{
    display: inline-block;
    padding: 30px;
    background: #0D1017;
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 20px;
    max-width: 726px;
    .text{
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
      margin-bottom: 20px;
    }
    .buttons{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      .exit{
        border: none;
        background: #233447;
        border-radius: 10px;
        width: 114px;
        height: 48px;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        cursor: pointer;
      }
      .cancel{
        border: none;
        background: #0491FB;
        border-radius: 10px;
        width: 114px;
        height: 48px;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        cursor: pointer;
      }
    }
  }
}