.referal{
  .block{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
    .refgrid{
      width: 50%;
      background: #0D1017;
      border: 1px solid rgba(255, 255, 255, 0.03);
      border-radius: 20px;
      padding: 20px;
      .title{
        font-weight: 600;
        font-size: 20px;
        line-height: 21px;
        color: #FFFFFF;
        margin-bottom: 20px;
      }
      .stats{
        display: flex;
        gap: 20px;
        margin-bottom: 15px;
        .refcount{
          background: #121721;
          border-radius: 10px;
          padding: 15px;
          width: 40%;
          display: flex;
          flex-direction: column;
          align-items: center;
          .reftitle{
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #8B949E;
          }
          .count{
            font-weight: 600;
            font-size: 60px;
            line-height: 72px;
            color: #FFFFFF;
          }
        }
        .refpay{
          width: 60%;
          background: #121721;
          border-radius: 10px;
          padding: 15px;
          .refpay__title{
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #8B949E;
          }
          .counter{
            font-weight: 600;
            font-size: 40px;
            line-height: 48px;
            color: #FFFFFF;
          }
          .valute{
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #323846;
          }
        }
      }
      .reflink{
        background: #121721;
        border-radius: 10px;
        padding: 15px 20px;
        margin-bottom: 15px;
        &__title{
          font-weight: 400;
          font-size: 13px;
          line-height: 16px;
          color: #8B949E;
          margin-bottom: 5px;
        }
        .link{
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: #FFFFFF;
        }
      }
      .refcode{
        background: #121721;
        border-radius: 10px;
        padding: 15px 20px;
        &__title{
          font-weight: 400;
          font-size: 13px;
          line-height: 16px;
          color: #8B949E;
          margin-bottom: 5px;
        }
        .code{
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: #FFFFFF;
        }
      }
    }
    .refback{
      width: 50%;
      background: #0D1017;
      border: 1px solid rgba(255, 255, 255, 0.03);
      border-radius: 20px;
      padding: 20px;
      .title{
        font-weight: 600;
        font-size: 20px;
        line-height: 21px;
        color: #FFFFFF;
        margin-bottom: 20px;
      }
      form{
        margin-bottom: 20px;
        .input{
          display: flex;
          flex-direction: column;
          gap: 5px;
          background: #121721;
          border-radius: 10px;
          padding: 15px 20px;
          &:not(:last-child){
            margin-bottom: 15px;
          }
          label{
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #8B949E;
          }
          input{
            background: none;
            border: none;
            outline: none;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: white;
            width: 400px;
          }
        }
        .button{
          background: #0C1C2E;
          border-radius: 10px;
          width: 100%;
          height: 48px;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          color: #FFFFFF;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
      .switchblock{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 19px;
        &__title{
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          color: #8B949E;
        }
        .switch {
          position: relative;
          display: inline-block;
          width: 57px;
          height: 25px;
        }

        /* Hide default HTML checkbox */
        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        /* The slider */
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #121721;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 10px;
          outline: none;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 25px;
          width: 25px;
          left: 0px;
          bottom: 0px;
          background-color: #0C1C2E;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 100%;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(33px);
          -ms-transform: translateX(33px);
          transform: translateX(33px);
          background-color: #0491FB;
        }

      }
    }
  }
  .myreferals{
    background: #0D1017;
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 20px;
    padding: 20px;
    .title{
      font-weight: 600;
      font-size: 20px;
      line-height: 21px;
      color: #FFFFFF;
      margin-bottom: 20px;
    }
    .input{
      margin-bottom: 15px;
      background: #121721;
      border-radius: 10px;
      padding: 15px 20px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      input{
        background: none;
        outline: none;
        border: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: white;
      }
    }
    .block{
      background: rgba(255, 255, 255, 0.02);
      border-radius: 20px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}