.cabinet{
  .user{
    display: flex;
    gap: 40px;
    background: #0D1017;
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 20px;
    padding: 20px 40px;
    max-height: 320px;
    margin-bottom: 40px;
    .info{
      .avatar{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        .first__circle{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 180px;
          height: 180px;
          background-color: rgba(#21262D, 0.3);
          border-radius: 100%;
          border: 1px solid #21262D;
          .second__circle{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 160px;
            height: 160px;
            border-radius: 100%;
            background: #21262D;
            border: 1px solid #21262D;
          }
        }
      }
      .nickname{
        font-family: Bold, sans-serif;
        font-size: 20px;
        line-height: 21px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 20px;
      }
      .edit{
        width: 218px;
        height: 48px;
        background: #0491FB;
        border-radius: 10px;
        outline: none;
        border: none;
        cursor: pointer;font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        transition: background 0.2s ease-in-out,box-shadow 0.2s ease-in-out;

        &:hover{
          background: #0491FB;
          box-shadow: 0px 0px 15px rgba(4, 145, 251, 0.4);
        }
      }
    }
    .data{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-basis: 100%;
      .block{
        background: #121721;
        border-radius: 10px;
        padding: 15px 20px;
        //max-width: 395px;
        //margin-bottom: 20px;
      }
      .first__row{
        margin-right: 30px;
        flex-shrink: 0;
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .balance{
          .header{
            .title{
              color: #8B949E;
              font-size: 13px;
              //flex-shrink: 0;
              //margin-right: 8vw;
            }
            .manage{
            }
            display: flex;
            justify-content: space-between;
            margin-bottom: 2px;
          }
          .count{
            font-family: Bold;
            font-size: 40px;
            line-height: 47px;
            color: white;
            margin-bottom: 2px;
          }
          .valute{
            color: #323846;
          }
        }
        .email__block{
          .title{
            color: #8B949E;
            font-size: 13px;
            margin-bottom: 5px;
          }
          .email{
            font-family: Bold;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
          }
        }
        .referal{
          .title{
            color: #8B949E;
            font-size: 13px;
            margin-bottom: 5px;
          }
          .link{
            font-size: 16px;
            line-height: 19px;
            font-family: Bold;
            color: white;
          }
        }
      }
      .second__row{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .ip_address{
          .title{
            color: #8B949E;
            font-size: 13px;
            margin-bottom: 5px;
          }
          .ip{
            font-family: Bold;
            font-size: 16px;
            line-height: 19px;
            color: white;
          }
        }
        .auth{
          .title{
            margin-bottom: 5px;
            color: #8B949E;
            font-size: 13px;
          }
          .ip{
            font-family: Bold;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 7px;
            color: white;
          }
        }
      }
    }
  }
  .stats{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .finance{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

@media (max-width: 1300px) {
  .cabinet{
    .user{
      .data{
        .first__row{
          .balance{
            .header{
              .title{
                color: #8B949E;
                font-size: 1vw;
                //flex-shrink: 0;
                //margin-right: 8vw;
              }
              .manage{
                font-size: 1vw;
              }
              display: flex;
              justify-content: space-between;
              margin-bottom: 2px;
            }
            .count{
              font-size: 3vw;
            }
            .valute{
              color: #323846;
              font-size: 1vw;

            }
          }
          .email__block{
            .title{
              font-size: 1vw;
            }
            .email{
              font-size: 1.1vw;


            }
          }
          .referal{
            .title{
              font-size: 1vw;

            }
            .link{
              font-size: 1.1vw;

            }
          }
        }
        .second__row{
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 15px;
          .ip_address{
            .title{
              font-size: 1vw;

            }
            .ip{
              font-size: 1.1vw;

            }
          }
          .auth{
            .title{
              font-size: 1vw;

            }
            .ip{
              font-size: 1.1vw;

            }
          }
        }
      }
    }
    .stats{
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      gap: 30px;
    }

    .finance{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  }
}