.subtype{
  padding: 5px 12px;
  background: #21262D;
  border-radius: 10px;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  color: #FFFFFF;
}