.wrapper{
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0, 0.02);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  .modal{
    display: inline-block;
    padding: 30px;
    background: #0D1017;
    border: 1px solid rgba(255, 255, 255, 0.03);
    border-radius: 20px;
    max-width: 726px;
    .subtitle{
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
      margin-bottom: 20px;
      text-align: center;
    }
    .buttons{
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      .continue{
        background: #0491FB;
        border-radius: 10px;
        height: 48px;
        max-width: 153px;
        width: 100%;
        border: none;
        outline: none;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        cursor: pointer;
        transition: background 0.2s ease-in-out,box-shadow 0.2s ease-in-out;

        &:hover{
          background: #0491FB;
          box-shadow: 0px 0px 15px rgba(4, 145, 251, 0.4);
        }
      }
      .cancel{
        background: #0C1C2E;
        border-radius: 10px;
        max-width: 117px;
        width: 100%;
        height: 48px;
        border: none;
        outline: none;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        cursor: pointer;
        transition: background 0.2s ease-in-out,box-shadow 0.2s ease-in-out;

        &:hover{
          background: #0491FB;
          box-shadow: 0px 0px 15px rgba(4, 145, 251, 0.4);
        }
      }
    }
  }
}